{% extends "base.html" %}
{% block content %}
    
<h1>Add company</h1>
<form action="{{ url_for('companies.add_company') }}" method="POST">
<label>Company Name</label>
<input type="text" name="name" required>
<label>Tier</label>
<select name="tier">
    {% for tier in tiers %}
        <option value="{{ tier }}">{{ tier }}</option>
    {% endfor %}
</select>
<label>CTC Max</label>
<input type="number" name="ctc_max" required>
<label>CTC Min</label>
<input type="number" name="ctc_min" required>
<label>CGPA Cutoff</label>
<input type="number" name="cgpa_cutoff" required>
<label>bond_years</label>
<input type="number" name="bond_years" required>
<label>mode</label>
<input type="text" name="mode">
<label>website</label>
<input type="text" name="website">
<button type="submit">Add Company</button>
</form>
{% endblock %}